<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalHotkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GlobalHotkey.Properties.Settings>
            <setting name="F2" serializeAs="String">
                <value />
            </setting>
            <setting name="F3" serializeAs="String">
                <value />
            </setting>
            <setting name="F4" serializeAs="String">
                <value />
            </setting>
            <setting name="F5" serializeAs="String">
                <value />
            </setting>
            <setting name="F6" serializeAs="String">
                <value />
            </setting>
            <setting name="F7" serializeAs="String">
                <value />
            </setting>
            <setting name="F8" serializeAs="String">
                <value />
            </setting>
            <setting name="F9" serializeAs="String">
                <value />
            </setting>
            <setting name="F10" serializeAs="String">
                <value />
            </setting>
            <setting name="F11" serializeAs="String">
                <value />
            </setting>
            <setting name="F12" serializeAs="String">
                <value />
            </setting>
        </GlobalHotkey.Properties.Settings>
    </userSettings>
</configuration>